In [1]:
#installing opendatasets library
!pip install opendatasets

Requirement already satisfied: opendatasets in c:\users\administrator\anaconda3\lib\site-packages (0.1.22)
Requirement already satisfied: tqdm in c:\users\administrator\anaconda3\lib\site-packages (from opendatasets) (4.65.0)
Requirement already satisfied: kaggle in c:\users\administrator\anaconda3\lib\site-packages (from opendatasets) (1.6.3)
Requirement already satisfied: click in c:\users\administrator\anaconda3\lib\site-packages (from opendatasets) (8.0.4)
Requirement already satisfied: colorama in c:\users\administrator\anaconda3\lib\site-packages (from click->opendatasets) (0.4.6)
Requirement already satisfied: six>=1.10 in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.16.0)
Requirement already satisfied: certifi in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (2023.7.22)
Requirement already satisfied: python-dateutil in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (2.31.0)
Requirement already satisfied: python-slugify in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (1.26.16)
Requirement already satisfied: bleach in c:\users\administrator\anaconda3\lib\site-packages (from kaggle->opendatasets) (4.1.0)
Requirement already satisfied: packaging in c:\users\administrator\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (23.1)
Requirement already satisfied: webencodings in c:\users\administrator\anaconda3\lib\site-packages (from bleach->kaggle->opendatasets) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\administrator\anaconda3\lib\site-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\administrator\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\administrator\anaconda3\lib\site-packages (from requests->kaggle->opendatasets) (3.4)

In [2]:
#importing opendatasets library( we will use this library to download the datasets programatically)
import opendatasets as od

In [3]:
#assigning variable that holds the kaggle link
datasets ='https://www.kaggle.com/datasets/cvronao/covid19-philippine-dataset?select=Case_Information.csv'

In [4]:
#download dataset from kaggle
od.download(datasets)

Skipping, found downloaded files in ".\covid19-philippine-dataset" (use force=True to force download)

In [5]:
import os

In [6]:
#assigning variable that holds the file
data_dir = '.\covid19-philippine-dataset'

In [7]:
# returns everything inside a directory
os.listdir(data_dir)

['.ipynb_checkpoints',
 'Case_Information_20200515.csv',
 'DOH Data Collect - Daily Reports',
 'DOH Data Collect - Weekly Reports',
 'Testing_Aggregates_20200513.csv',
 'Testing_Lab_Locations.csv']

In [8]:
# import the pandas library
import pandas as pd

In [9]:
# read in the csv file as a pandas dataframe
cases = pd.read_csv('Case_Information.csv')

In [10]:
# explore the data
cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12091 entries, 0 to 12090
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   case_id                    12091 non-null  object
 1   age                        12070 non-null  float64
 2   age_group                  12070 non-null  object
 3   sex                        12091 non-null  object
 4   date_announced             12091 non-null  object
 5   date_recovered             1237 non-null   object
 6   date_of_death              657 non-null    object
 7   status                     12091 non-null  object
 8   date_announced_as_removed  3266 non-null   object
 9   province                   11053 non-null  object
 10  muni_city                  11053 non-null  object
 11  health_status              12091 non-null  object
 12  home_quarantined           5310 non-null   object
 13  date_of_onset_of_symptoms  6561 non-null   object
 14  pregnant                   1925 non-null   object
 15  region                     11053 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.5+ MB

In [11]:
cases.shape

(12091, 16)

In [12]:
#display the dataframe
cases

,case_id,age,age_group,sex,date_announced,date_recovered,date_of_death,status,date_announced_as_removed,province,muni_city,health_status,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,NaN,Recovered,2020-02-07,Negros Oriental,Dumaguete City,Recovered,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,NaN,2020-02-01,Died,2020-02-02,Negros Oriental,Dumaguete City,Died,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,2020-01-31,NaN,Recovered,2020-02-05,Bohol,Panglao,Recovered,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,NaN,Recovered,2020-03-27,Metropolitan Manila,Taguig,Recovered,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,NaN,2020-03-11,Died,2020-03-12,Rizal,Cainta,Died,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,NaN,For validation,NaN,Metropolitan Manila,Makati City,Mild,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,NaN,2020-05-13,Died,2020-05-15,Davao del Sur,Davao City,Died,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,NaN,For validation,NaN,NaN,NaN,Mild,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,NaN,Home quarantined,NaN,Samar,Tarangnan,Asymptomatic,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,NaN,For validation,NaN,Quezon,Candelaria,Mild,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [13]:
#remove the duplicate rows
cases = cases.drop_duplicates()
cases

,case_id,age,age_group,sex,date_announced,date_recovered,date_of_death,status,date_announced_as_removed,province,muni_city,health_status,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,NaN,Recovered,2020-02-07,Negros Oriental,Dumaguete City,Recovered,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,NaN,2020-02-01,Died,2020-02-02,Negros Oriental,Dumaguete City,Died,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,2020-01-31,NaN,Recovered,2020-02-05,Bohol,Panglao,Recovered,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,NaN,Recovered,2020-03-27,Metropolitan Manila,Taguig,Recovered,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,NaN,2020-03-11,Died,2020-03-12,Rizal,Cainta,Died,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,NaN,For validation,NaN,Metropolitan Manila,Makati City,Mild,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,NaN,2020-05-13,Died,2020-05-15,Davao del Sur,Davao City,Died,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,NaN,For validation,NaN,NaN,NaN,Mild,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,NaN,Home quarantined,NaN,Samar,Tarangnan,Asymptomatic,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,NaN,For validation,NaN,Quezon,Candelaria,Mild,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [14]:
#remove the unuseful columns
cases = cases.drop(columns = 'date_announced_as_removed' )
cases

,case_id,age,age_group,sex,date_announced,date_recovered,date_of_death,status,province,muni_city,health_status,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,NaN,Recovered,Negros Oriental,Dumaguete City,Recovered,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,NaN,2020-02-01,Died,Negros Oriental,Dumaguete City,Died,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,2020-01-31,NaN,Recovered,Bohol,Panglao,Recovered,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,NaN,Recovered,Metropolitan Manila,Taguig,Recovered,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,NaN,2020-03-11,Died,Rizal,Cainta,Died,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,NaN,For validation,Metropolitan Manila,Makati City,Mild,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,NaN,2020-05-13,Died,Davao del Sur,Davao City,Died,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,NaN,For validation,NaN,NaN,Mild,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,NaN,Home quarantined,Samar,Tarangnan,Asymptomatic,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,NaN,For validation,Quezon,Candelaria,Mild,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [15]:
cases = cases.drop(columns = 'muni_city' )
cases

,case_id,age,age_group,sex,date_announced,date_recovered,date_of_death,status,province,health_status,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,NaN,Recovered,Negros Oriental,Recovered,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,NaN,2020-02-01,Died,Negros Oriental,Died,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,2020-01-31,NaN,Recovered,Bohol,Recovered,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,NaN,Recovered,Metropolitan Manila,Recovered,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,NaN,2020-03-11,Died,Rizal,Died,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,NaN,For validation,Metropolitan Manila,Mild,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,NaN,2020-05-13,Died,Davao del Sur,Died,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,NaN,For validation,NaN,Mild,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,NaN,Home quarantined,Samar,Asymptomatic,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,NaN,For validation,Quezon,Mild,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [16]:
cases = cases.drop(columns = 'health_status' )
cases

,case_id,age,age_group,sex,date_announced,date_recovered,date_of_death,status,province,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,NaN,Recovered,Negros Oriental,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,NaN,2020-02-01,Died,Negros Oriental,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,2020-01-31,NaN,Recovered,Bohol,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,NaN,Recovered,Metropolitan Manila,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,NaN,2020-03-11,Died,Rizal,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,NaN,For validation,Metropolitan Manila,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,NaN,2020-05-13,Died,Davao del Sur,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,NaN,For validation,NaN,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,NaN,Home quarantined,Samar,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,NaN,For validation,Quezon,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [17]:
cases = cases.drop(columns = 'date_recovered' )
cases

,case_id,age,age_group,sex,date_announced,date_of_death,status,province,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,NaN,Recovered,Negros Oriental,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,2020-02-01,Died,Negros Oriental,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,NaN,Recovered,Bohol,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,NaN,Recovered,Metropolitan Manila,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,2020-03-11,Died,Rizal,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,NaN,For validation,Metropolitan Manila,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,2020-05-13,Died,Davao del Sur,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,NaN,For validation,NaN,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,NaN,Home quarantined,Samar,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,NaN,For validation,Quezon,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [18]:
cases = cases.drop(columns = 'date_of_death')
cases

,case_id,age,age_group,sex,date_announced,status,province,home_quarantined,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental,NaN,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental,NaN,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol,No,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila,No,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal,No,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila,NaN,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur,NaN,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar,Yes,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon,NaN,NaN,NaN,CALABARZON (Region IV-A)

In [20]:
cases = cases.drop(columns = 'home_quarantined')
cases

,case_id,age,age_group,sex,date_announced,status,province,date_of_onset_of_symptoms,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental,2020-01-21,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental,2020-01-18,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol,2020-01-21,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila,2020-03-03,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal,2020-02-25,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila,NaN,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur,2020-04-29,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar,NaN,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon,NaN,NaN,CALABARZON (Region IV-A)

In [21]:
cases = cases.drop(columns = 'date_of_onset_of_symptoms')
cases

,case_id,age,age_group,sex,date_announced,status,province,pregnant,region
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental,NaN,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental,NaN,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol,NaN,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila,NaN,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal,NaN,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila,NaN,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur,NaN,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar,No,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon,NaN,CALABARZON (Region IV-A)

In [22]:
cases = cases.drop(columns = 'pregnant')
cases

,case_id,age,age_group,sex,date_announced,status,province,region
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental,Central Visayas (Region VII)
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental,Central Visayas (Region VII)
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol,Central Visayas (Region VII)
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal,CALABARZON (Region IV-A)
...,...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur,Davao Region (Region XI)
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar,Eastern Visayas (Region VIII)
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon,CALABARZON (Region IV-A)

In [24]:
cases = cases.drop(columns = 'region')
cases

,case_id,age,age_group,sex,date_announced,status,province
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal
...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon

In [25]:
#remove all the NaN values
cases.fillna('')

,case_id,age,age_group,sex,date_announced,status,province
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal
...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon

In [26]:
#reset index
cases.reset_index(drop=True)
cases

,case_id,age,age_group,sex,date_announced,status,province
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal
...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon

In [27]:
#saving the covid19.csv file
cases.to_csv(r'C:\Users\Administrator\Downloads\covid\covid19.csv', index = False)

In [53]:
#display all the data
pd.set_option('display.max_rows',12091)

In [28]:
cases

,case_id,age,age_group,sex,date_announced,status,province
0,C404174,38.0,35 to 39,Female,2020-01-30,Recovered,Negros Oriental
1,C462688,44.0,40 to 44,Male,2020-02-03,Died,Negros Oriental
2,C387710,60.0,60 to 64,Female,2020-02-05,Recovered,Bohol
3,C377460,48.0,45 to 49,Male,2020-03-06,Recovered,Metropolitan Manila
4,C498051,62.0,60 to 64,Male,2020-03-06,Died,Rizal
...,...,...,...,...,...,...,...
12086,C972617,35.0,35 to 39,Male,2020-05-15,For validation,Metropolitan Manila
12087,C975669,37.0,35 to 39,Male,2020-05-15,Died,Davao del Sur
12088,C980530,62.0,60 to 64,Female,2020-05-15,For validation,NaN
12089,C987431,18.0,15 to 19,Female,2020-05-15,Home quarantined,Samar
12090,C995671,50.0,50 to 54,Female,2020-05-15,For validation,Quezon